body{
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 560px;
    font-family: 'helvetica neue';
}

.main{
    border: 2px black solid;
    margin: auto;
    width:40%;
    text-align: center;
    border-radius: 5px;
    box-shadow:  5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    margin-top: 10%;
}


@media (max-width: 1440px){
    .main{
        margin-top: 20%;
    }
}